.left
  display: inline-block
  width: 30%
  height: 100vh
  padding: 2%
  vertical-align: top

.right
  display: inline-block
  border-left: dashed medium cadetblue
  width: 70%
  height: 100vh
  padding: 2%
  vertical-align: top

tr
  text-align: center

th
  white-space: nowrap

.signout
  color: blue

.welcome_msg
  position: absolute
  color: RGB(166,166,166)
  top: 110px
  left: 10px

.dropdown-toggle
  display: block
  left: -50%
  margin: auto