.left
  display: inline-block
  width: 25%
  border-rigth: dashed medium cadetblue
  padding: 2%

.right
  display: inline-block !important
  border-left: dashed medium cadetblue
  width: 75%
  padding: 2%